<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="freeboardMapper">

<!-- 글 작성 -->

<insert id="insert"  >
	insert into mp_freeboard (fno, ftitle, fcontent, fwriter )
	values (mp_free_seq.nextval, #{ftitle}, #{fcontent}, #{fwriter})
</insert>

















</mapper>